#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
  padding: 2rem;
  text-align: center;
  background-image: url('https://images.pexels.com/photos/1519088/pexels-photo-1519088.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
}

